html, body {
  background-color: #EFF3F9;
  font-family: 'Rubik', sans-serif;
  color: #253746;
}

h3 {
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  margin-top: 0;
  margin-bottom: 0;
}

h4 {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  margin-top: 0;
  margin-bottom: 0;
}

.btn {
  padding: 14.5px 14px;
  text-decoration: none;
  border: 1px solid #9FBCD5;
  border-radius: 4px;
  background-color: #9FBCD5;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;

  &.line {
    background-color: #FFFFFF;
    color: #9FBCD5;
  }

  &.blue {
    background-color: #3170F7;
    border-color: #3170F7;

    &.line {
      background-color: #FFFFFF;
      color: #3170F7;
    }
  }

  &:hover {
    background-color: #2B549F;
    border-color: #2B549F;
    color: #FFFFFF;

    &.line {
      background-color: #fff;
      color: #2B549F;
    }
  }
}

.white-bg {
  background-color: #fff;
  box-shadow: 0 0 30px rgba(43, 84, 159, 0.04);
  border-radius: 10px;
  width: 100%;
  height: 100%;
  position: relative;
}

.padding {
  &-rectangle {
    padding: 60px 60px 40px;
  }

  &-square {
    padding: 40px 40px 150px 40px;
  }
}

.wrapper {
  width: 970px;
  max-width: 100%;
  margin: auto;
  position: relative;

  &-description {
    text-align: center;

    &-title {
      margin-top: 40px;
      border-bottom: 1px solid #D5E3EF;
      padding-bottom: 10px;
      margin-bottom: 40px;
    }
  }

  .btn-row {
    margin-top: 60px;
  }

  svg {
    max-width: 100%;
    height: auto;
  }
}

.active-wrapper {
  border: 1px solid #3170F7;
}

.wrapper-tabs {
  position: absolute;
  left: -127px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  display: flex;
  align-items: center;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    li {
      margin-bottom: 20px;
      background: #FFFFFF;
      border-radius: 4px 0px 0px 4px;
      padding: 10px 10px;
      width: 112px;
      font-weight: 500;
      font-size: 18px;
      line-height: 21px;
      color: #253746;
      text-align: center;
      border: 1px solid #D5E3EF;
      position: relative;
      z-index: 0;
      cursor: pointer;

      &.active {
        width: 140px;
        border: 1px solid #3170F7;
        border-right: none;
        z-index: 1;

        &:before {
          content: '';
          position: absolute;
          top: -10px;
          right: 0;
          z-index: 1;
          background-color: transparent;
          border-radius: 0 0 4px 0;
          width: 10px;
          height: 10px;
          border: 1px solid #3170F7;
          border-top: 0;
          border-left: 0;
          box-shadow: 2px 2px 0 #FFF;
        }

        &:after {
          content: '';
          position: absolute;
          bottom: -10px;
          right: 0;
          z-index: 1;
          background-color: transparent;
          border-radius: 0 0 0 4px;
          width: 10px;
          height: 10px;
          border-width: 1px 1px 0px 0px;
          border-style: solid;
          border-color: #3170F7;
          box-shadow: 2px -2px 0px 2px #FFFFFF;
          border-radius: 0px 4px 0px 0px;
        }
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}

.success-screen {
  svg {
    margin-bottom: 24px;
  }

  span {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: block;
    color: #9FBCD5;
    margin-top: 14px;
  }
}

.input-select {
  padding: 15px 0;

  label {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: block;
    margin-bottom: 5px;

    span {
      margin-top: 5px;
      display: block;
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      color: #9FBCD5;
    }
  }

  select {
    background: #FFFFFF;
    border: 1px solid #D5E3EF;
    border-radius: 4px;
    padding: 12px 14px;
    width: 100%;
    max-width: 330px;

    option {
      width: 100%;
      max-width: 330px;
    }
  }

  .fa-solid {
    color: #D5E3EF;
    cursor: pointer;
  }
}

.input-text {

  label {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: block;
    margin-bottom: 5px;

    span {
      margin-top: 5px;
      display: block;
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      color: #9FBCD5;

      .fa-solid {
        color: #D5E3EF;
        cursor: pointer;
      }
    }
  }

  input {
    background: #FFFFFF;
    border: 1px solid #D5E3EF;
    border-radius: 4px;
    padding: 11px 14px;
    font-size: 14px;
    line-height: 16px;
    width: 100%;
  }

  .input-group-text {
    background: #D5E3EF;
    border-radius: 4px 0px 0px 4px;
    padding: 5px 15px;
    color: #62829C;
    font-size: 20px;
    height: 100%;
  }
}

.input-row {
  margin-left: 0;
  margin-right: 0;

  .or {
    font-size: 12px;
    line-height: 14px;
    margin-top: 22px;
    display: block;
    text-align: center;
  }

  .form-check {
    margin-top: 25px;
  }

  .col-12 {
    padding: 0 5px;

    &:first-of-type {
      padding-left: 0;
    }

    &:last-of-type {
      padding-right: 0;
    }
  }

  &.text-input-group {
    .or {
      margin-bottom: 15px;
    }
  }
}

.form-check {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin-top: 40px;

  .fa-solid {
    color: #D5E3EF;
  }
}

.step {
  background: #FFFFFF;
  box-shadow: 0px 0px 30px rgba(43, 84, 159, 0.04);
  border-radius: 10px;
  padding: 20px;
  width: 230px;
  margin: 0 auto 50px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  span {
    background-color: #FFFFFF;
    border: 1px solid #D5E3EF;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    position: relative;

    &:nth-child(1) {
      background-color: #3170F7;
      border-color: #3170F7;
    }

    &:nth-child(2) {
      &:before, &:after {
        content: '';
        width: 22px;
        background-color: #D5E3EF;
        height: 6px;
        border-radius: 6px;
        position: absolute;
      }

      &:before {
        left: -37px;
      }

      &:after {
        right: -37px;
      }
    }
  }

  &.second-step {
    span {
      &:nth-child(1) {
        opacity: .6;
      }

      &:nth-child(2) {
        background-color: #3170F7;
        border-color: #3170F7;

        &:before {
          background-color: #3170F7;
          opacity: .6;
        }
      }
    }
  }

  &.third-step {
    span {
      &:nth-child(1) {
        opacity: .6;
      }

      &:nth-child(2) {
        background-color: #3170F7;
        border-color: #3170F7;
        opacity: .6;

        &:before {
          background-color: #3170F7;
        }

        &:after {
          background-color: #3170F7;
        }
      }

      &:nth-child(3) {
        background-color: #3170F7;
        border-color: #3170F7;;
      }
    }
  }
}

main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.fancy {
  position: relative;
  margin: 25px 0;

  &:before {
    content: '';
    position: absolute;
    margin: auto 0;
    top: 0;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 47%;
    background-color: #D5E3EF;
  }

  &:after {
    content: '';
    position: absolute;
    margin: auto 0;
    top: 0;
    bottom: 0;
    right: 0;
    height: 1px;
    width: 47%;
    background-color: #D5E3EF;
  }

  span {
    margin: 0 auto;
    background: #D5E3EF;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    display: block;
  }
}

.button-row {
  margin-top: 60px;
  bottom: 0;
  position: absolute;
  padding: 40px;
  left: 0;
  right: 0;
}

@media screen and (max-width: 992px) {
  main {
    padding: 20px 5px;
  }
  .btn {
    font-size: 15px;
  }
  .wrapper {
    width: 100%;
    padding: 20px 15px;
    text-align: center;

    label, input, select, .input-select, .form-check {
      text-align: left;
    }
  }
  .padding-square {
    height: auto;
    margin-bottom: 20px;
  }

  .wrapper-tabs {
    margin: 0 auto;
    height: auto;
    left: 0;
    right: 0;
    top: -22px;
    align-items: flex-start;
    justify-content: center;

    ul {
      display: flex;
      flex-direction: row;
      li {
        margin: 0 5px;
        width: auto;
        border-radius: 4px 4px 0px 0px;
        font-size: 14px;

        &.active {
          border-radius: 4px 4px 0px 0px;
          border-right: 1px solid #3170F7;
          border-bottom-color: #FFFFFF;
          width: auto;
          &:before {
            left: -10px;
            bottom: -1px;
            top: unset;
          }
          &:after {
            bottom: -1px;
            right: -10px;
            transform: rotate(180deg);
          }
        }

        &:first-of-type {
          margin-left: 0;
        }

        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }
}